APP_NAME="Padel Booking"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

# رابط الفرونت اند (React) - يُستخدم لبناء روابط success/cancel الخاصة بثواني
FRONTEND_URL=http://localhost:5173

DB_CONNECTION=sqlite
# اترك DB_DATABASE فارغاً لاستخدام database/database.sqlite تلقائياً

SESSION_DRIVER=file
SESSION_LIFETIME=120

# بيانات ثواني - بيئة الاختبار UAT (يمكن تركها كما هي للتجربة)
THAWANI_BASE_URL=https://uatcheckout.thawani.om/api/v1
THAWANI_SECRET_KEY=rRQ26GcsZzoEhbrP2HZvLYDbn9C9et
THAWANI_PUBLISHABLE_KEY=HGvTMLDssJghr9tlN9gr4DVYt0qyBy
